@use './variables' as *;

@mixin tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

@mixin wrapper ($max-width) {
  max-width: $max-width;
  width: 100%;
  margin: 0 auto;
}

