@use './variables' as *;

@mixin tablet {
    @media (min-width: $tablet-width) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop-width) {
        @content;
    }
}

@mixin wrapper ($desktop-width) {
    max-width: $desktop-width;
    width: 100%;
    margin: 0 auto;
    padding: 0 1.75rem;
}

@mixin body {
    font-family: $font-primary;
    font-weight: normal;
    line-height: 1.125rem;
    font-size: 0.8125;
    font-weight: 400;
    @include tablet {
        font-size: 0.875rem;
        line-height: 1.375rem;
    }
}

@mixin navbar {
    background-color: $color-dark;
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 1rem;
        width: 100%;
        @include tablet {
            flex-direction: row;
            padding: 1.75rem;
            padding-bottom: 0;
        }
        @include desktop {
            @include wrapper ($desktop-width);
            padding-top: 2rem;
        }
    }
    &__logo {
        height: 1.5rem;
        margin-bottom: 1rem;
        //hover affect of shaking logo when the user hovers over
        &:hover {
            animation: tilt-shaking .5s infinite;
        }
        @keyframes tilt-shaking {
            0% { transform: rotate(0deg); }
            25% { transform: rotate(5deg); }
            50% { transform: rotate(0eg); }
            75% { transform: rotate(-5deg); }
            100% { transform: rotate(0deg); }
        }
        @include tablet {
            height: 1.5rem;
        }
    }
    &__navbar {
        text-align: center;
        width: 100%;
    }
    
    &__item{
        color: $color-light-sec;
        text-decoration: none;
        width: 50%;
        transition: 0.5s;
        @include tablet {
            width:auto;
        }
        &-list {
            display: flex;
            justify-content: stretch;
            font-size: 1rem;
            @include tablet {
                margin-left: 5rem;
                align-items: stretch;
                justify-content: space-between;
                max-width: 25%;
                min-width: 15rem;
            }
        }
        
    } 
    &__nonActive{
        color: $color-light-sec;
        width: 50%;
        padding-bottom: 1.65rem;
        font-weight: 500;
        @include tablet {
            width:auto;
        }
        &:hover {
            color: $color-accent;
            border-bottom: 4px solid $color-accent;
            padding-bottom: 1.65rem;
            
        }
    }
    &__active {
        border-bottom: 4px solid $color-accent;
        width: 50%;
        padding-bottom: 1.65rem;
        font-weight: 800;
        &:hover {
            font-weight: 500;
        }
        @include tablet {
            width: auto;
        }
    }
}

@mixin hero {
    display: flex;
    align-items: center;
    justify-content: left;
    background-image: linear-gradient(to bottom, rgb(50, 50, 50, 0.5), rgb(50, 50, 50, 0.5)), 
    url(../assets/images/hero-bio.jpg);
    background-position: center;
    background-size:cover;
    min-height: 270px;
    max-height: 1000px;
    height: 50vh;
    @include tablet {
        min-height: 400px;
        height: 70vh;
    }
    @include desktop {
        align-items: center;
        justify-content: baseline;
        min-height: 500px;
    }
    &__title {
        color: $color-accent;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 2rem;
        margin: 0rem 1rem;
        @include tablet {
            font-size: 3.75rem;
            margin: 0rem 2rem;
            line-height: 4.25rem;
        }
        @include desktop {
            @include wrapper ($desktop-width);
        }
    }
}

@mixin section__title {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.375rem;       ;
    @include tablet {
        font-size: 2.25rem;
        margin-left: 2rem;
        line-height: 2.75rem;
    }
    @include desktop {
        @include wrapper ($desktop-width);
    }
}

@mixin section__subheader {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 600;
    @include tablet {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}

@mixin footer {
    background-color: $color-dark;
    color: $color-accent;
    padding: 1.5rem;
    position: relative;
    @include desktop{
        margin-top: 3rem;
        padding-top: 3rem;
    }
    &__wrapper {
        @include desktop {
            padding: 0;
            @include wrapper ($desktop-width);
        }
    }
    &__title {
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1.5rem;
        padding: 1rem 0;
        @include tablet {
            margin-right: 2rem;
            font-weight: 600;
            font-size: 2rem;
        }
    }
    &__social {
        padding: 0.5rem 0;
        display: flex;
        flex-direction: row;
        align-items:flex-start;
        justify-content: space-between;
        min-width: 7.5rem;
        width: 30%;
        @include tablet {
            max-width: 10rem;
        }
    }
    &__social-icon {
        img {
            height: 1.5rem;
            //added animation for the social icons when they are hovered
            transition: 0.5s;
            &:hover {
                height: 3rem;
            }
        }
    }
    &__container {
        display: flex;
        flex-direction: column;
        @include tablet {
            flex-direction: row;
            justify-content: space-between;
        }
        @include desktop {
            width: 75%;
        }
        &--social {
            display: flex;
            flex-direction: column;
            @include tablet {
                flex-direction: row;
                align-items: center;
            }
        }
    }
    &__card {
        font-size: 0.9rem;
        &--agent {
            margin: 1rem 0rem;
            font-weight: 600;
        }
        &--address {
            margin-bottom: 1rem;
        }
        &--email {
            margin-bottom: 1rem;
            a {
                text-decoration: none;
                color: $color-accent;
            }
        }
    }
    
    
    &__logo-img {
        height: 1.25rem;
        
        &--mobile {
            margin-bottom: 0.5rem;
            margin-top: 3rem;
            @include tablet {
                display: none;
            }
        }
        &--tablet {
            display: none;
            @include tablet {
                display: block;
                margin-left: auto;
                margin-right: 1rem;
            }
            @include desktop {
                margin-right: 0;
            }
        }
    }
    
    &__copyright {
        font-size: 0.79rem;
        line-height: 1.125rem;
        font-weight: 400;
        @include tablet {
            padding-top: 1.5rem;
            font-size: 0.875rem;
        }
    }
}

@mixin lables{
    font-size: 0.8125rem;
    line-height: 1.25rem;
    font-weight: 600;
    @include tablet{
        font-size: 0.875rem;
    }
}

@mixin buttons {
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 600; 
    border: 1px solid $color-dark;
    &:hover {
        background-color: $color-dark-sec;
    }
    @include tablet{
        font-size: 1.25rem;
    }
}