// fonts
$font-primary: 'AvenirNext LT Pro', sans-serif;
// primary colors
$color-dark: #323232;
$color-light: #AFAFAF;
$color-accent: #FFFFFF;
// secondary colors
$color-dark: #000000;
$color-light: #E1E1E1;
$color-accent: #FAFAFA;
// screen sizes
$tablet-width: 768px;
$desktop-width: 1280px;
