/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.eot");
  src: url("../assets/fonts/AvenirNextLTPro-Demi.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Demi.ttf") format("truetype"), url("../assets/fonts/AvenirNextLTPro-Demi.svg#AvenirNextLTPro-Demi") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.eot");
  src: url("../assets/fonts/AvenirNextLTPro-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Regular.ttf") format("truetype"), url("../assets/fonts/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.eot");
  src: url("../assets/fonts/AvenirNextLTPro-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Bold.ttf") format("truetype"), url("../assets/fonts/AvenirNextLTPro-Bold.svg#AvenirNextLTPro-Bold") format("svg");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "AvenirNext LT Pro", sans-serif;
  font-weight: normal;
  line-height: 1.125rem;
  font-size: 0.8125;
  font-weight: 400;
}
@media (min-width: 768px) {
  body {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.navbar {
  background-color: #323232;
}
.navbar__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 1rem;
  width: 100%;
}
@media (min-width: 768px) {
  .navbar__wrapper {
    flex-direction: row;
    padding: 1.75rem;
    padding-bottom: 0;
  }
}
@media (min-width: 1100px) {
  .navbar__wrapper {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1.75rem;
    padding-top: 2rem;
  }
}
.navbar__logo {
  height: 1.5rem;
  margin-bottom: 1rem;
}
.navbar__logo:hover {
  -webkit-animation: tilt-shaking 0.5s infinite;
          animation: tilt-shaking 0.5s infinite;
}
@-webkit-keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@media (min-width: 768px) {
  .navbar__logo {
    height: 1.5rem;
  }
}
.navbar__navbar {
  text-align: center;
  width: 100%;
}
.navbar__item {
  color: #E1E1E1;
  text-decoration: none;
  width: 50%;
  transition: 0.5s;
}
@media (min-width: 768px) {
  .navbar__item {
    width: auto;
  }
}
.navbar__item-list {
  display: flex;
  justify-content: stretch;
  font-size: 1rem;
}
@media (min-width: 768px) {
  .navbar__item-list {
    margin-left: 5rem;
    align-items: stretch;
    justify-content: space-between;
    max-width: 25%;
    min-width: 15rem;
  }
}
.navbar__nonActive {
  color: #E1E1E1;
  width: 50%;
  padding-bottom: 1.65rem;
  font-weight: 500;
}
@media (min-width: 768px) {
  .navbar__nonActive {
    width: auto;
  }
}
.navbar__nonActive:hover {
  color: #FFFFFF;
  border-bottom: 4px solid #FFFFFF;
  padding-bottom: 1.65rem;
}
.navbar__active {
  border-bottom: 4px solid #FFFFFF;
  width: 50%;
  padding-bottom: 1.65rem;
  font-weight: 800;
}
.navbar__active:hover {
  font-weight: 500;
}
@media (min-width: 768px) {
  .navbar__active {
    width: auto;
  }
}

.hero {
  display: flex;
  align-items: center;
  justify-content: left;
  background-image: linear-gradient(to bottom, rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../assets/images/hero-bio.jpg);
  background-position: center;
  background-size: cover;
  min-height: 270px;
  max-height: 1000px;
  height: 50vh;
}
@media (min-width: 768px) {
  .hero {
    min-height: 400px;
    height: 70vh;
  }
}
@media (min-width: 1100px) {
  .hero {
    align-items: center;
    justify-content: baseline;
    min-height: 500px;
  }
}
.hero__title {
  color: #FFFFFF;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  margin: 0rem 1rem;
}
@media (min-width: 768px) {
  .hero__title {
    font-size: 3.75rem;
    margin: 0rem 2rem;
    line-height: 4.25rem;
  }
}
@media (min-width: 1100px) {
  .hero__title {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1.75rem;
  }
}

.about {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
}
@media (min-width: 768px) {
  .about {
    margin: 0;
  }
}
@media (min-width: 1100px) {
  .about {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1.75rem;
  }
}
.about__title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.375rem;
  margin: 2rem 0 1rem;
}
@media (min-width: 768px) {
  .about__title {
    font-size: 2.25rem;
    margin-left: 2rem;
    line-height: 2.75rem;
  }
}
@media (min-width: 1100px) {
  .about__title {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1.75rem;
  }
}
@media (min-width: 768px) {
  .about__title {
    padding-bottom: 1rem;
  }
}
@media (min-width: 1100px) {
  .about__title {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1.75rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 0;
  }
}
@media (min-width: 1100px) {
  .about__wrapper {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1.75rem;
  }
}
.about__quote {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .about__quote {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media (min-width: 1100px) {
  .about__quote {
    width: 73%;
  }
}
.about__quote--author {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .about__quote--author {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media (min-width: 768px) {
  .about__quote--author {
    font-size: 1rem;
    margin-top: 0.5rem;
  }
}
.about__container, .comment__user-input {
  display: flex;
  align-items: left;
  justify-content: center;
}
@media (min-width: 768px) {
  .about__container, .comment__user-input {
    width: 75vw;
    margin: auto;
    padding: 1rem 0 0;
  }
}
@media (min-width: 1100px) {
  .about__container, .comment__user-input {
    margin: 0;
  }
}
.about__container--img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .about__container--img {
    width: 75vw;
    margin: auto;
    padding: 1rem 0 1.5rem;
  }
}
@media (min-width: 1100px) {
  .about__container--img {
    width: 67vw;
  }
}
.about__container--quote {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
@media (min-width: 768px) {
  .about__container--quote {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media (min-width: 768px) {
  .about__container--quote {
    width: 75vw;
    margin: auto;
    padding: 1rem 0 1.5rem;
  }
}
@media (min-width: 1100px) {
  .about__container--quote {
    width: 67vw;
    padding-top: 0;
  }
}
.about__container--text {
  display: flex;
  flex-direction: column;
  line-height: 1.5rem;
}
@media (min-width: 768px) {
  .about__container--text {
    flex-direction: row;
    width: 75vw;
    margin: auto;
    padding: 1rem 0 1.5rem;
  }
}
@media (min-width: 1100px) {
  .about__container--text {
    width: 67vw;
  }
}
.about__img {
  width: 90vw;
}
@media (min-width: 768px) {
  .about__img {
    width: 75vw;
  }
}
@media (min-width: 1100px) {
  .about__img {
    width: 67vw;
  }
}
.about__subtitle {
  margin: 2rem 0 1rem 0;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .about__subtitle {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media (min-width: 768px) {
  .about__subtitle {
    font-size: 1.5rem;
    width: 75vw;
    margin: auto;
    padding: 1rem 0 0;
  }
}
@media (min-width: 1100px) {
  .about__subtitle {
    width: 67vw;
  }
}
.about__info {
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .about__info {
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  .about__info--left {
    padding-right: 0.5rem;
  }
}
@media (min-width: 768px) {
  .about__info--right {
    padding-left: 0.5rem;
  }
}

.photo-gallery {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .photo-gallery {
    margin: 1.5rem 2rem;
  }
}
@media (min-width: 1100px) {
  .photo-gallery {
    padding: 1.5rem 0;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1.75rem;
  }
}
.photo-gallery__title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.375rem;
  margin: 1.5rem 0 0 1rem;
}
@media (min-width: 768px) {
  .photo-gallery__title {
    font-size: 2.25rem;
    margin-left: 2rem;
    line-height: 2.75rem;
  }
}
@media (min-width: 1100px) {
  .photo-gallery__title {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1.75rem;
  }
}
@media (min-width: 768px) {
  .photo-gallery__title {
    margin-left: 0;
  }
}
@media (min-width: 1100px) {
  .photo-gallery__title {
    padding-left: 0;
    margin-top: 3rem;
  }
}
.photo-gallery__images {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .photo-gallery__images {
    justify-content: space-between;
  }
}
.photo-gallery__images--img {
  width: 90vw;
  padding-top: 1rem;
  filter: brightness(40%);
}
.photo-gallery__images--img:hover {
  filter: brightness(100%);
}
@media (min-width: 768px) {
  .photo-gallery__images--img {
    width: 30%;
  }
}

.comment {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  margin: 0 1rem;
}
@media (min-width: 768px) {
  .comment {
    margin: 0;
  }
}
@media (min-width: 1100px) {
  .comment {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1.75rem;
  }
}
.comment__title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.375rem;
  margin: 0;
}
@media (min-width: 768px) {
  .comment__title {
    font-size: 2.25rem;
    margin-left: 2rem;
    line-height: 2.75rem;
  }
}
@media (min-width: 1100px) {
  .comment__title {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1.75rem;
  }
}
@media (min-width: 1100px) {
  .comment__title {
    padding-left: 0;
  }
}
.comment__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #E1E1E1;
  padding: 1rem;
}
@media (min-width: 768px) {
  .comment__wrapper {
    margin: 0 5rem;
  }
}
@media (min-width: 1100px) {
  .comment__wrapper {
    width: 50%;
    margin: auto;
  }
}
.comment__previous {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #E1E1E1;
  padding-top: 1rem;
}
@media (min-width: 768px) {
  .comment__previous {
    margin: 0 5rem;
  }
}
.comment__added {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .comment__added {
    margin-bottom: 2rem;
  }
}
@media (min-width: 1100px) {
  .comment__added {
    margin-bottom: 0;
  }
}
.comment__known-user {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-image: url("../assets/images/Mohan-muruge.jpg");
  background-size: cover;
  margin-top: 40%;
}
@media (min-width: 1100px) {
  .comment__known-user {
    margin-top: 90%;
  }
}
.comment__user-input--submit {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 600;
  border: 1px solid #323232;
  background-color: #323232;
  color: #FFFFFF;
  width: 100%;
  padding: 1rem 0rem;
  margin: 1rem 0;
  border-radius: 5px;
}
.comment__user-input--submit:hover {
  background-color: #000000;
}
@media (min-width: 768px) {
  .comment__user-input--submit {
    font-size: 1.25rem;
  }
}
@media (min-width: 768px) {
  .comment__user-input--submit {
    max-width: 15rem;
    align-items: flex-end;
  }
}
.comment__unknown-user {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #E1E1E1;
}
.comment__area {
  line-height: 1.5rem;
  margin-left: 1rem;
  width: 100%;
}
.comment__user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}
.comment__name {
  font-family: "AvenirNext LT Pro", sans-serif;
  font-weight: normal;
  line-height: 1.125rem;
  font-size: 0.8125;
  font-weight: 400;
  font-weight: 600;
}
@media (min-width: 768px) {
  .comment__name {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
.comment__comment {
  font-family: "AvenirNext LT Pro", sans-serif;
  font-weight: normal;
  line-height: 1.125rem;
  font-size: 0.8125;
  font-weight: 400;
  border-radius: 5px;
}
@media (min-width: 768px) {
  .comment__comment {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
.comment__timeStamp {
  font-family: "AvenirNext LT Pro", sans-serif;
  font-weight: normal;
  line-height: 1.125rem;
  font-size: 0.8125;
  font-weight: 400;
  color: #AFAFAF;
}
@media (min-width: 768px) {
  .comment__timeStamp {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.form {
  width: 100%;
  margin-left: 1rem;
}
@media (min-width: 1100px) {
  .form {
    padding: 1.5rem 0;
    max-width: 1100px;
    width: 95%;
    margin: 0 auto;
    margin-left: 1rem;
  }
}
.form__div {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 768px) {
  .form__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
.form__headings {
  color: #AFAFAF;
  font-size: 0.8125rem;
  line-height: 1.25rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .form__headings {
    font-size: 0.875rem;
  }
}
.form__input, .form__input--comment {
  font-family: "AvenirNext LT Pro", sans-serif;
  color: #323232;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid #AFAFAF;
  padding: 1rem;
}
.form__input--comment {
  height: 7rem;
  resize: none;
}
.form__invalid {
  border: 1px solid red;
}

.footer {
  background-color: #323232;
  color: #FFFFFF;
  padding: 1.5rem;
  position: relative;
}
@media (min-width: 1100px) {
  .footer {
    margin-top: 3rem;
    padding-top: 3rem;
  }
}
@media (min-width: 1100px) {
  .footer__wrapper {
    padding: 0;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1.75rem;
  }
}
.footer__title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: 1rem 0;
}
@media (min-width: 768px) {
  .footer__title {
    margin-right: 2rem;
    font-weight: 600;
    font-size: 2rem;
  }
}
.footer__social {
  padding: 0.5rem 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  min-width: 7.5rem;
  width: 30%;
}
@media (min-width: 768px) {
  .footer__social {
    max-width: 10rem;
  }
}
.footer__social-icon img {
  height: 1.5rem;
  transition: 0.5s;
}
.footer__social-icon img:hover {
  height: 3rem;
}
.footer__container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .footer__container {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1100px) {
  .footer__container {
    width: 75%;
  }
}
.footer__container--social {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .footer__container--social {
    flex-direction: row;
    align-items: center;
  }
}
.footer__card {
  font-size: 0.9rem;
}
.footer__card--agent {
  margin: 1rem 0rem;
  font-weight: 600;
}
.footer__card--address {
  margin-bottom: 1rem;
}
.footer__card--email {
  margin-bottom: 1rem;
}
.footer__card--email a {
  text-decoration: none;
  color: #FFFFFF;
}
.footer__logo-img {
  height: 1.25rem;
}
.footer__logo-img--mobile {
  margin-bottom: 0.5rem;
  margin-top: 3rem;
}
@media (min-width: 768px) {
  .footer__logo-img--mobile {
    display: none;
  }
}
.footer__logo-img--tablet {
  display: none;
}
@media (min-width: 768px) {
  .footer__logo-img--tablet {
    display: block;
    margin-left: auto;
    margin-right: 1rem;
  }
}
@media (min-width: 1100px) {
  .footer__logo-img--tablet {
    margin-right: 0;
  }
}
.footer__copyright {
  font-size: 0.79rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  .footer__copyright {
    padding-top: 1.5rem;
    font-size: 0.875rem;
  }
}/*# sourceMappingURL=bio.css.map */