@use './partials/reset' as *;
@use './partials/mixins' as *;
@use './partials/typography' as *;
@use './partials/variables' as *;

body {
    @include body;
}

// navbar css
.navbar {
    @include navbar;
}

// hero css
.hero {
    @include hero;
}

// about section
.about {
    display: flex;
    flex-direction: column;  
    margin: 0 2rem;  
    @include tablet {
    }
    &__title {
        @include section__title;
        margin: 0;
        @include tablet {
            padding-bottom: 1rem;
        }
        @include desktop {
            @include wrapper ($desktop-width);
        }
    }
    &__img--container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__img {
        width: 90vw;
        @include tablet {
            width: 75vw;
        }
    }
    &__quote {
        margin-top: 1rem;
        display: flex;
        align-items: flex-start;
        &--author {
            margin-top: 1rem;
            @include tablet {
                font-size: 1rem;
            }
        }
    }
    
    &__container {
        margin: 2rem 0 1rem 0;
        @include tablet {
            width: 75vw;
            margin: auto;
            padding: 1rem 0 0 0;
        }
        &--quote {
            font-size: 1rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            line-height: 2rem;
            font-weight: 600;
            @include tablet {
                width: 75vw;
                margin: auto;
                padding: 1rem 0 1.5rem;
            }
        }
        &--text {
            display: flex;
            flex-direction: column;
            line-height: 1.5rem;
            @include tablet {
                flex-direction: row; 
                width: 75vw;
                margin: auto;
                padding: 1rem 0 1.5rem;   
            }
        }
    }
    &__subtitle {
        font-size: 1rem;
        font-weight: 600;
    }
    &__info {
        margin-top: 1rem;
        @include tablet {
            margin-top: 0;
        }
        &--left {
            @include tablet {
                padding-right: 0.5rem;
            }
        }
        &--right {
            @include tablet {
                padding-left: 0.5rem;
            }
        }
    }
}

.photo-gallery {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    @include tablet {
        padding: 1.5rem 2rem;
    }
    @include desktop {
        padding: 1.5rem 0;
        @include wrapper ($desktop-width);
    }
    &__title {
        // font-size: 2rem;
        // font-weight: bold;
        @include section__title;
        @include tablet {
            margin-left: 0;
        }
    }
    &__images {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 2rem;
        @include tablet {
            justify-content: space-between;
        }
        &--img {
            width: 90vw;
            padding-top: 1.5rem;
            filter: brightness(40%);
            &:hover {
                filter: brightness(100%);
            }
            @include tablet {
                width: 30%;
            }
        }
    }
}

.comment {
   display: flex;
   flex-direction: column;
   justify-content: stretch;
   margin: 0 1rem;
        
    &__title {
        @include section__title;
        margin: 0;
    }
    &__user-input {
        @extend .about__container;
    }
    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid $color-light-sec;
        padding: 1rem;
    }
    
    &__user-image--img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }
    &__user-input--submit{
        background-color: $color-dark;
        color: $color-accent;
        width: 100%;
        padding: 1rem 0rem;
        margin: 1rem 0;
        border-radius: 5px;
    }
    &__unknown-user {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: $color-light-sec;
    }
    &__area {
        line-height: 1.5rem;
        
        margin-left: 1rem;
    }
    &__previous {
        display: flex;
        flex-direction: column;
    }
    &__user {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__timeStamp {
        color: $color-light;
    }
}
.form {
    width: 100%;
    margin-left: 1rem;
    &__div {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    &__headings {
        color: $color-light;
        font-size: 0.9rem;
        padding-bottom: .5rem;
        
    }
    &__comment {
        color: $color-light;
        font-size: 0.9rem;
        margin-bottom: 1rem;
        border-radius: 5px;
        &--comment {
            @extend .form__comment;
            height: 6rem;
        }
    }
}

.footer {
    @include footer;  
}

h4 {
    font-size: 1rem;
    font-weight: 600;
}
