/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.eot");
  src: url("../assets/fonts/AvenirNextLTPro-Demi.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Demi.ttf") format("truetype"), url("../assets/fonts/AvenirNextLTPro-Demi.svg#AvenirNextLTPro-Demi") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.eot");
  src: url("../assets/fonts/AvenirNextLTPro-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Regular.ttf") format("truetype"), url("../assets/fonts/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.eot");
  src: url("../assets/fonts/AvenirNextLTPro-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Bold.ttf") format("truetype"), url("../assets/fonts/AvenirNextLTPro-Bold.svg#AvenirNextLTPro-Bold") format("svg");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "AvenirNext LT Pro", sans-serif;
  font-weight: normal;
}

.navbar {
  background-color: #323232;
}
.navbar__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 1rem;
  width: 100%;
}
@media (min-width: 768px) {
  .navbar__wrapper {
    flex-direction: row;
    padding: 1.75rem 2rem;
    padding-bottom: 0;
  }
}
@media (min-width: 1280px) {
  .navbar__wrapper {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
  }
}
.navbar__logo {
  height: 1.5rem;
  margin-bottom: 1rem;
}
.navbar__logo:hover {
  -webkit-animation: tilt-shaking 0.5s infinite;
          animation: tilt-shaking 0.5s infinite;
}
@-webkit-keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@media (min-width: 768px) {
  .navbar__logo {
    height: 1.5rem;
  }
}
.navbar__navbar {
  text-align: left;
  width: 100%;
}
@media (min-width: 768px) {
  .navbar__navbar {
    text-align: center;
  }
}
.navbar__item-list {
  display: flex;
  font-size: 1rem;
}
@media (min-width: 768px) {
  .navbar__item-list {
    margin-left: 10%;
  }
}
.navbar__item {
  color: #FFFFFF;
  text-decoration: none;
  width: 50%;
  transition: 0.5s;
}
.navbar__item:hover {
  color: #000000;
  text-shadow: 1px 1px #FFFFFF;
  font-weight: 800;
}
@media (min-width: 768px) {
  .navbar__item {
    width: 30%;
  }
}
.navbar__active {
  border-bottom: 4px solid #FFFFFF;
  width: 50%;
  padding-bottom: 1rem;
  font-weight: 600;
  transition: 0.5s;
}
.navbar__active:hover {
  border-bottom: 4px solid #000000;
  text-shadow: 1px 1px #FFFFFF;
  box-shadow: 0px 1px #FFFFFF;
}
@media (min-width: 768px) {
  .navbar__active {
    width: auto;
  }
}

.hero {
  display: flex;
  align-items: center;
  justify-content: left;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), url(../assets/images/hero-bio.jpg);
  background-position: center;
  background-size: cover;
  min-height: 300px;
  max-height: 1000px;
  height: 50vh;
}
@media (min-width: 768px) {
  .hero {
    height: 70vh;
  }
}
@media (min-width: 1280px) {
  .hero {
    align-items: center;
    justify-content: baseline;
  }
}
.hero__title {
  color: #FFFFFF;
  font-size: 2rem;
  font-weight: 600;
  margin: 0rem 1rem;
}
@media (min-width: 768px) {
  .hero__title {
    font-size: 4rem;
    margin: 0rem 2rem;
  }
}
@media (min-width: 1280px) {
  .hero__title {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
  }
}

.about {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
}
@media (min-width: 768px) {
  .about {
    margin: 0;
  }
}
.about__title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 1rem;
  padding: 1.5rem 0 1rem;
  margin: 0;
}
@media (min-width: 768px) {
  .about__title {
    padding-bottom: 1rem;
    font-size: 2rem;
    margin-left: 2rem;
  }
}
@media (min-width: 1280px) {
  .about__title {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .about__title {
    padding-bottom: 1rem;
  }
}
@media (min-width: 1280px) {
  .about__title {
    max-width: 1280px;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}
@media (min-width: 1280px) {
  .about__wrapper {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
  }
}
.about__img--container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about__img {
  width: 90vw;
}
@media (min-width: 768px) {
  .about__img {
    width: 75vw;
  }
}
@media (min-width: 1280px) {
  .about__img {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
  }
}
.about__quote {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .about__quote {
    font-size: 1.5rem;
  }
}
.about__quote--author {
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .about__quote--author {
    font-size: 1rem;
    margin-top: 0.5rem;
  }
}
.about__container, .comment__user-input {
  margin: 2rem 0 1rem 0;
}
@media (min-width: 768px) {
  .about__container, .comment__user-input {
    width: 75vw;
    margin: auto;
    padding: 1rem 0 0 0;
  }
}
.about__container--quote {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  line-height: 2rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .about__container--quote {
    width: 75vw;
    margin: auto;
    padding: 1rem 0 1.5rem;
  }
}
@media (min-width: 1280px) {
  .about__container--quote {
    width: auto;
  }
}
.about__container--text {
  display: flex;
  flex-direction: column;
  line-height: 1.5rem;
}
@media (min-width: 768px) {
  .about__container--text {
    flex-direction: row;
    width: 75vw;
    margin: auto;
    padding: 1rem 0 1.5rem;
  }
}
@media (min-width: 1280px) {
  .about__container--text {
    width: auto;
  }
}
.about__subtitle {
  font-size: 1rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .about__subtitle {
    font-size: 1.5rem;
  }
}
.about__info {
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .about__info {
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  .about__info--left {
    padding-right: 0.5rem;
  }
}
@media (min-width: 768px) {
  .about__info--right {
    padding-left: 0.5rem;
  }
}

.photo-gallery {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}
@media (min-width: 768px) {
  .photo-gallery {
    margin: 1.5rem 2rem;
  }
}
@media (min-width: 1280px) {
  .photo-gallery {
    padding: 1.5rem 0;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
  }
}
.photo-gallery__title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 1rem;
}
@media (min-width: 768px) {
  .photo-gallery__title {
    padding-bottom: 1rem;
    font-size: 2rem;
    margin-left: 2rem;
  }
}
@media (min-width: 1280px) {
  .photo-gallery__title {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .photo-gallery__title {
    margin-left: 0;
  }
}
.photo-gallery__images {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .photo-gallery__images {
    justify-content: space-between;
  }
}
.photo-gallery__images--img {
  width: 90vw;
  padding-top: 1rem;
  filter: brightness(40%);
}
.photo-gallery__images--img:hover {
  filter: brightness(100%);
}
@media (min-width: 768px) {
  .photo-gallery__images--img {
    width: 30%;
  }
}

.comment {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  margin: 0 1rem;
}
@media (min-width: 768px) {
  .comment {
    margin: 0;
  }
}
@media (min-width: 1280px) {
  .comment {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
  }
}
.comment__title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 1rem;
  margin: 0;
}
@media (min-width: 768px) {
  .comment__title {
    padding-bottom: 1rem;
    font-size: 2rem;
    margin-left: 2rem;
  }
}
@media (min-width: 1280px) {
  .comment__title {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
  }
}
.comment__wrapper, .comment__previous {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #E1E1E1;
  padding-top: 1rem;
}
@media (min-width: 768px) {
  .comment__wrapper, .comment__previous {
    margin: 0 5rem;
  }
}
.comment__added {
  display: flex;
  flex-direction: column;
}
.comment__known-user {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-image: url("../assets/images/Mohan-muruge.jpg");
  background-size: cover;
  margin-top: 20px;
}
.comment__user-input--submit {
  background-color: #323232;
  color: #FFFFFF;
  width: 100%;
  padding: 1rem 0rem;
  margin: 1rem 0;
  border-radius: 5px;
}
@media (min-width: 768px) {
  .comment__user-input--submit {
    max-width: 15rem;
    font-size: 1rem;
    align-items: flex-end;
  }
}
.comment__unknown-user {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #E1E1E1;
}
.comment__area {
  line-height: 1.5rem;
  margin-left: 1rem;
}
.comment__user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}
.comment__name {
  font-size: 1rem;
  font-weight: 600;
}
.comment__comment {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}
.comment__timeStamp {
  color: #AFAFAF;
}

.form {
  width: 100%;
  margin-left: 1rem;
}
@media (min-width: 1280px) {
  .form {
    padding: 1.5rem 0;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
  }
}
.form__div {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 768px) {
  .form__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
.form__headings {
  color: #AFAFAF;
  font-size: 0.8rem;
  padding-bottom: 0.5rem;
}
.form__input, .form__input--comment {
  font-family: "AvenirNext LT Pro", sans-serif;
  color: #323232;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid #AFAFAF;
  padding: 1rem;
}
.form__input--comment {
  height: 7rem;
}

.footer {
  background-color: #323232;
  color: #FFFFFF;
  padding: 1.5rem;
  line-height: 1.5rem;
  position: relative;
}
@media (min-width: 1280px) {
  .footer__wrapper {
    padding: 0;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
  }
}
.footer__title {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem 0;
}
@media (min-width: 768px) {
  .footer__title {
    margin-right: 2rem;
    font-weight: 600;
    font-size: 2rem;
  }
}
.footer__social {
  padding: 0.5rem 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  min-width: 7.5rem;
  width: 30%;
}
@media (min-width: 768px) {
  .footer__social {
    max-width: 10rem;
  }
}
.footer__social-icon img {
  height: 1.5rem;
  transition: 0.5s;
}
.footer__social-icon img:hover {
  height: 3rem;
}
.footer__container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .footer__container {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .footer__container {
    width: 75%;
  }
}
.footer__container--social {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .footer__container--social {
    flex-direction: row;
    align-items: center;
  }
}
.footer__card {
  font-size: 0.9rem;
}
.footer__card--agent {
  margin: 1rem 0rem;
  font-weight: 600;
}
.footer__card--address {
  margin-bottom: 1rem;
}
.footer__card--email {
  margin-bottom: 1rem;
}
.footer__card--email a {
  text-decoration: none;
  color: #FFFFFF;
}
.footer__logo-img {
  height: 1.25rem;
}
.footer__logo-img--mobile {
  margin-bottom: 0.5rem;
  margin-top: 3rem;
}
@media (min-width: 768px) {
  .footer__logo-img--mobile {
    display: none;
  }
}
.footer__logo-img--tablet {
  display: none;
}
@media (min-width: 768px) {
  .footer__logo-img--tablet {
    display: block;
    margin-left: auto;
    margin-right: 1rem;
  }
}
@media (min-width: 1280px) {
  .footer__logo-img--tablet {
    margin-right: 0;
  }
}
.footer__copyright {
  font-size: 0.8rem;
}
@media (min-width: 768px) {
  .footer__copyright {
    padding-top: 1.5rem;
    font-size: 1rem;
  }
}/*# sourceMappingURL=bio.css.map */