@use './partials/reset' as *;
@use './partials/mixins' as *;
@use './partials/typography' as *;
@use './partials/variables' as *;

body {
    font-family: $font-primary;
    font-weight: normal;
}

// navbar css
.navbar {
    background-color: $color-dark;
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 1rem;
        width: 100%;
        @include tablet {
            flex-direction: row;
            padding: 1.75rem;
            padding-bottom: 0;
        }
        @include desktop {
            @include wrapper ($desktop-width);
        }
    }
    &__logo {
        height: 2rem;
        margin-bottom: 1rem;
        //hover affect of shaking logo when the user hovers over
        &:hover {
            animation: tilt-shaking .5s infinite;
        }
        @keyframes tilt-shaking {
            0% { transform: rotate(0deg); }
            25% { transform: rotate(5deg); }
            50% { transform: rotate(0eg); }
            75% { transform: rotate(-5deg); }
            100% { transform: rotate(0deg); }
        }
        @include tablet {
            height: 1.5rem;
        }
    }
    &__navbar {
        text-align: center;
        width: 100%;
    }
    &__item-list {
        display: flex;
        justify-content: stretch;
        font-size: 1.25rem;
        @include tablet {
            justify-content: left;
            margin-left: 5rem;
        }
    }
    &__item{
        color: $color-accent;
        text-decoration: none;
        width: 50%;
        transition: 0.5s;
        &:hover {
            color: $color-dark-sec;
            text-shadow: 1px 1px $color-accent;
            font-weight: 800;
        }
    } 
    &__active {
        border-bottom: 4px solid $color-accent;
        width: 50%;
        padding-bottom: 1.65rem;
        font-weight: 800;
        transition: 0.5s;
        &:hover {
            border-bottom: 4px solid $color-dark-sec;
            text-shadow: 1px 1px $color-accent;
            box-shadow: 0px 1px $color-accent;
        }
        @include tablet {
            width: auto;
        }
    }
}

// hero css
.hero {
    display: flex;
    align-items: center;
    justify-content: left;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), 
    url(../assets/images/hero-bio.jpg);
    background-position: center;
    background-size:cover;
    min-height: 300px;
    max-height: 1000px;
    height: 50vh;
    @include tablet {
        height: 70vh;
    }
    &__title {
        color: $color-accent;
        font-size: 2rem;
        font-weight: 800;
        margin: 2rem;
        @include tablet {
            font-size: 4rem;
        }
        @include desktop {
            @include wrapper ($desktop-width);
        }
    }
}

// about section
.about {
    display: flex;
    flex-direction: column;  
    margin: 0 2rem;  
    @include tablet {
    }
    &__title {
        font-size: 2rem;
        padding: 2.5rem 0rem 1.5rem;
        font-weight: 600;
        @include tablet {
            padding-bottom: 1rem;
        }
        @include desktop {
            @include wrapper ($desktop-width);
        }
    }
    &__img--container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__img {
        width: 90vw;
        @include tablet {
            width: 75vw;
        }
    }
    &__quote {
        margin-top: 1rem;
        display: flex;
        align-items: flex-start;
        &--author {
            margin-top: 1rem;
            @include tablet {
                font-size: 1rem;
            }
        }
    }
    
    &__container {
        margin: 2rem 0 1rem 0;
        @include tablet {
            width: 75vw;
            margin: auto;
            padding: 1rem 0 0 0;
        }
        &--quote {
            font-size: 1.5rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            line-height: 2rem;
            font-weight: 600;
            @include tablet {
                width: 75vw;
                margin: auto;
                padding: 1rem 0 1.5rem;
            }
        }
        &--text {
            display: flex;
            flex-direction: column;
            line-height: 1.5rem;
            @include tablet {
                flex-direction: row; 
                width: 75vw;
                margin: auto;
                padding: 1rem 0 1.5rem;   
            }
        }
    }
    &__subtitle {
        font-size: 1.5rem;
        font-weight: 600;
    }
    &__info {
        margin-top: 1rem;
        @include tablet {
            margin-top: 0;
        }
        &--left {
            @include tablet {
                padding-right: 0.5rem;
            }
        }
        &--right {
            @include tablet {
                padding-left: 0.5rem;
            }
        }
    }
}

.photo-gallery {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    @include tablet {
        padding: 1.5rem 2rem;
    }
    @include desktop {
        padding: 1.5rem 0;
        @include wrapper ($desktop-width);
    }
    &__title {
        margin-left: 2rem;
        font-size: 2rem;
        font-weight: bold;
        @include tablet {
            margin-left: 0;
        }
    }
    &__images {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 2rem;
        @include tablet {
            justify-content: space-between;
        }
        &--img {
            width: 90vw;
            padding-top: 1.5rem;
            filter: brightness(40%);
            &:hover {
                filter: brightness(100%);
            }
            @include tablet {
                width: 30%;
            }
        }
    }
}

.comment {
    @extend .photo-gallery;
        margin-top: 0;
    &__title {
        @extend .about__title;
    }
    &__user-input {
        @extend .about__container;
    }
    &__wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;

    }
    &__headings {
        color: $color-light;
        font-weight: 600;
        font-size: 0.9rem;
    }
    &__user-image--img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }
    &__user-input--submit{
        background-color: $color-dark;
        color: $color-accent;
        width: 100%;
    }
}

.footer {
    background-color: $color-dark;
    color: $color-accent;
    padding: 1.5rem;
    line-height: 1.5rem;
    position: relative;
    &__wrapper {
        @include desktop {
            padding: 0;
            @include wrapper ($desktop-width);
        }
    }
    &__title {
        font-size: 2.35rem;
        font-weight: 800;
        padding: 1.75rem 0;
        @include tablet {
            margin-right: 2rem;
            font-weight: 600;
        }
    }
    &__social {
        padding: 1rem 0;
        display: flex;
        flex-direction: row;
        align-items:flex-start;
        justify-content: space-between;
        width:30%;
        @include tablet {
            max-width: 10rem;
        }
    }
    &__social-icon {
        img {
            height: 2rem;
            //added animation for the social icons when they are hovered
            transition: 0.5s;
            &:hover {
                height: 3rem;
            }
        }
    }
    &__container {
        display: flex;
        flex-direction: column;
        @include tablet {
            flex-direction: row;
            justify-content: space-between;
        }
        @include desktop {
            width: 75%;
        }
        &--social {
            display: flex;
            flex-direction: column;
            @include tablet {
                flex-direction: row;
                align-items: center;
            }
        }
    }
    &__card--agent {
        margin: 1rem 0rem;
        font-weight: 600;
    }
    &__card--address {
        margin-bottom: 1rem;
    }
    &__card--email {
        margin-bottom: 1rem;
        a {
            text-decoration: none;
            color: $color-accent;
        }
    }
    
    &__logo-img {
        height: 1.75rem;
        
        &--mobile {
            margin-bottom: 1rem;
            margin-top: 3rem;
            @include tablet {
                display: none;
            }
        }
        &--tablet {
            display: none;
            @include tablet {
                display: block;
                margin-left: auto;
                margin-right: 1rem;
            }
            @include desktop {
                margin-right: 0;
            }
        }
    }

&__copyright {
    @include tablet {
        padding-top: 1.5rem;
    }
}
}


