@use './partials/reset' as *;
@use './partials/mixins' as *;
@use './partials/typography' as *;
@use './partials/variables' as *;

body {
    @include body;
}

// navbar css
.navbar {
    @include navbar;
    &__item{
        @include tablet {
            width: auto;
        }
    } 
    &__active {
        @include tablet {
            width: auto;
        }
    }
}

// hero css
.hero {
    @include hero;
    background-image: linear-gradient(to bottom, rgb(50, 50, 50, 0.5), rgb(50, 50, 50, 0.5)), url(../assets/images/hero-shows.jpg);
    min-height: 300px;
    max-height: 1000px;
    @include tablet {
        min-height: 400px;
        height: 40vh;
    }
    @include desktop {
        height: 80vh;
    }
    &__title {
        @include tablet {
            width: 70%;
            font-weight: 600;
            font-size: 3.25rem;
        }
    }
    &__container {
        display: flex;
        flex-direction: column;
        @include desktop {
            display: flex;
            flex-direction: row;
            @include wrapper($desktop-width);
        }
    }
    &__subtitle {
        @extend .hero__title;
        font-size: 1rem;
        font-weight: 400;
        @include tablet {
            margin-top: 1.25rem;
            font-weight: 600;
            font-size: 1.25rem;
            line-height: 3rem;
        }
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        @include desktop{
            width: 50%;
        }
    }
    &__music {
        width: 90%;
        height: 20%;
        margin-left: 1rem;
        margin-top: 1rem;
        @include tablet {
            width: 50%;
            margin-left: 2rem;
        }
        @include desktop{
            width: 50%;
        }
    }
}

.shows {
    display: flex;
    flex-direction: column;
    
    @include tablet {
        margin: 0 2rem 2rem;
    }
    @include desktop {
        @include wrapper ($desktop-width);
        flex-direction: row;
        margin-top: 3rem;
    }
    &__title {
        @include section__title;
        margin: 2rem 0 0 1rem;
        @include tablet {
            margin: 2rem 0 0 1rem;
        }
        
        @include desktop {
            margin: 0;
            width: auto;
        }
    }
    
    &__card{
        padding: 1rem;
        border-bottom: 1px solid $color-light-sec;
        &:hover {
            background-color: $color-accent-sec;
        }
        @include tablet {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;
            
        }
        &--selected {
            background-color: $color-light-sec;
            
        }
        &--title {
            @include lables;
            color: $color-light;
            // font-size: 0.9rem;
            padding-bottom: 1rem;
            
            @include tablet {
                display: none;
                width:25%;
            }          
        }
        &--info {
            font-weight: 500;
            color: $color-dark;
            padding-bottom: 1.5rem;
            font-size: 1.1rem;
            
            @include tablet {
                width: 25%;
            }   
        }
        &--info-dark {
            @extend .shows__card--info;
            font-weight: 600;
            
            @include tablet {
                width: 25%;
            }  
        }
        &--buy{
            @include buttons;
            background-color: $color-dark;
            color: $color-accent;
            width: 100%;
            padding: 1rem 0;
            border-radius: 8px;
            
            @include tablet {
                width: 25%;
            }
            @include desktop {
                width: 25%;
            }
        }  
    }
    &__wrapper{
        display: flex;
        flex-direction: column;
        @include tablet {
            margin:0;
            padding: 0;
        }
        @include desktop {
            width: 70%;
            margin-left: auto;
        }
    }
    &__topTitle {
        @extend .shows__card;
        display: none;
        @include tablet {
            padding: 1rem;
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: center;
            width: 100%;
            border: none;
            &--title {
                font-weight: 600;
                color: $color-light;
                // padding-bottom: 1.5rem;
                font-size: 1.1rem;
                @include tablet {
                    width: 25%;
                    padding: 0;
                }
            }
            
        }
    }
    
}
.showsList {
    // @include tablet {
        //     margin: 0 2rem 2rem;
        // }
        @include desktop {
            @include wrapper($desktop-width);
            
        }
    }
    
    .footer {
        @include footer;  
    }
    
    