@use './partials/reset' as *;
@use './partials/mixins' as *;
@use './partials/typography' as *;
@use './partials/variables' as *;

body {
    @include body;
}

// navbar css
.navbar {
    @include navbar;
}

// hero css
.hero {
    @include hero;
    background-image: linear-gradient(to bottom, rgba(248, 242, 242, 0.2), rgba(0, 0, 0, 0.7)), url(../assets/images/hero-shows.jpg);
    &__subtitle {
        @extend .hero__title;
        font-size: 1.25rem;
        font-weight: 400;
    }
}

.shows {
    display: flex;
    flex-direction: column;
   
    &__title {
        @include section__title;
        margin: 0 2rem;
        
    }
    &__card{
        padding: 2rem;
        border-bottom: 1px solid $color-light;
        
        &--title {
            color: $color-light;
            font-size: 0.9rem;
            padding-bottom: 1rem;
        }
        &--info {
            font-weight: 600;
            color: $color-dark;
            padding-bottom: 1.5rem;
            font-size: 1.1rem;
        }
        &--buy{
            background-color: $color-dark;
            color: $color-accent;
            width: 100%;
            font-size: 1.1rem;
            padding: 1rem 0;
            border-radius: 5px;
        
        }
    }
    &__wrapper{
        display: flex;
        flex-direction: column;
   
    }

}

