/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.eot");
  src: url("../assets/fonts/AvenirNextLTPro-Demi.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Demi.ttf") format("truetype"), url("../assets/fonts/AvenirNextLTPro-Demi.svg#AvenirNextLTPro-Demi") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.eot");
  src: url("../assets/fonts/AvenirNextLTPro-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Regular.ttf") format("truetype"), url("../assets/fonts/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.eot");
  src: url("../assets/fonts/AvenirNextLTPro-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Bold.ttf") format("truetype"), url("../assets/fonts/AvenirNextLTPro-Bold.svg#AvenirNextLTPro-Bold") format("svg");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "AvenirNext LT Pro", sans-serif;
  font-weight: normal;
}

.navbar {
  background-color: #323232;
}
.navbar__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 1rem;
  width: 100%;
}
@media (min-width: 768px) {
  .navbar__wrapper {
    flex-direction: row;
    padding: 1.75rem;
    padding-bottom: 0;
  }
}
@media (min-width: 1280px) {
  .navbar__wrapper {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
  }
}
.navbar__logo {
  height: 2rem;
  margin-bottom: 1rem;
}
.navbar__logo:hover {
  -webkit-animation: tilt-shaking 0.5s infinite;
          animation: tilt-shaking 0.5s infinite;
}
@-webkit-keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@media (min-width: 768px) {
  .navbar__logo {
    height: 1.5rem;
  }
}
.navbar__navbar {
  text-align: center;
  width: 100%;
}
.navbar__item-list {
  display: flex;
  justify-content: stretch;
  font-size: 1.25rem;
}
@media (min-width: 768px) {
  .navbar__item-list {
    justify-content: left;
    margin-left: 5rem;
  }
}
.navbar__item {
  color: #FFFFFF;
  text-decoration: none;
  width: 50%;
  transition: 0.5s;
}
.navbar__item:hover {
  color: #000000;
  text-shadow: 1px 1px #FFFFFF;
  font-weight: 800;
}
.navbar__active {
  border-bottom: 4px solid #FFFFFF;
  width: 50%;
  padding-bottom: 1.65rem;
  font-weight: 800;
  transition: 0.5s;
}
.navbar__active:hover {
  border-bottom: 4px solid #000000;
  text-shadow: 1px 1px #FFFFFF;
  box-shadow: 0px 1px #FFFFFF;
}
@media (min-width: 768px) {
  .navbar__active {
    width: auto;
  }
}
@media (min-width: 768px) {
  .navbar__item {
    width: auto;
  }
}
@media (min-width: 768px) {
  .navbar__active {
    width: auto;
  }
}
@media (min-width: 768px) {
  .navbar__item-list {
    align-items: stretch;
    justify-content: space-between;
    max-width: 25%;
    min-width: 15rem;
  }
}

.hero {
  display: flex;
  align-items: center;
  justify-content: left;
  background-image: linear-gradient(to bottom, rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../assets/images/hero-bio.jpg);
  background-position: center;
  background-size: cover;
  min-height: 400px;
  max-height: 1000px;
  height: 50vh;
  background-image: linear-gradient(to bottom, rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../assets/images/hero-shows.jpg);
}
@media (min-width: 768px) {
  .hero {
    height: 70vh;
  }
}
@media (min-width: 1280px) {
  .hero {
    align-items: center;
    justify-content: baseline;
  }
}
.hero__title, .hero__subtitle {
  color: #FFFFFF;
  font-size: 2rem;
  font-weight: 600;
  margin: 0rem 1rem;
}
@media (min-width: 768px) {
  .hero__title, .hero__subtitle {
    font-size: 3.5rem;
    margin: 0rem 2rem;
  }
}
@media (min-width: 1280px) {
  .hero__title, .hero__subtitle {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 1280px) {
  .hero {
    height: 90vh;
  }
}
@media (min-width: 768px) {
  .hero__title, .hero__subtitle {
    width: 70%;
  }
}
.hero__container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1280px) {
  .hero__container {
    display: flex;
    flex-direction: row;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
  }
}
.hero__subtitle {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  .hero__subtitle {
    margin-top: 2rem;
    font-weight: 600;
  }
}
.hero__wrapper {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1280px) {
  .hero__wrapper {
    width: 50%;
  }
}
.hero__music {
  width: 90%;
  margin-left: 1rem;
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .hero__music {
    width: 50%;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-top: 2rem;
  }
}
@media (min-width: 1280px) {
  .hero__music {
    width: 50%;
  }
}

.shows {
  display: flex;
  flex-direction: column;
  margin: 2.5rem 0;
}
@media (min-width: 768px) {
  .shows {
    margin: 1rem;
  }
}
@media (min-width: 1280px) {
  .shows {
    flex-direction: row;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    margin: 4rem auto;
  }
}
.shows__title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 1rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .shows__title {
    font-size: 2.5rem;
    margin-left: 2rem;
  }
}
@media (min-width: 1280px) {
  .shows__title {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .shows__title {
    margin: 2rem 1rem;
  }
}
@media (min-width: 1280px) {
  .shows__title {
    margin: 0;
    width: auto;
  }
}
.shows__card, .shows__topTitle {
  padding: 1rem;
  border-bottom: 1px solid #E1E1E1;
}
.shows__card:hover, .shows__topTitle:hover {
  background-color: #FAFAFA;
}
@media (min-width: 768px) {
  .shows__card, .shows__topTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}
.shows__card--selected {
  background-color: #E1E1E1;
}
.shows__card--title {
  color: #AFAFAF;
  font-size: 0.9rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .shows__card--title {
    display: none;
    width: 25%;
  }
}
.shows__card--info {
  font-weight: 600;
  color: #323232;
  padding-bottom: 1.5rem;
  font-size: 1.1rem;
}
@media (min-width: 768px) {
  .shows__card--info {
    width: 25%;
  }
}
.shows__card--buy {
  background-color: #323232;
  color: #FFFFFF;
  width: 100%;
  font-size: 1.1rem;
  padding: 1rem 0;
  border-radius: 8px;
  font-weight: 500;
}
@media (min-width: 768px) {
  .shows__card--buy {
    width: 25%;
  }
}
@media (min-width: 1280px) {
  .shows__card--buy {
    width: 20%;
  }
}
.shows__wrapper {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1280px) {
  .shows__wrapper {
    width: 75%;
  }
}
.shows__topTitle {
  display: none;
}
@media (min-width: 768px) {
  .shows__topTitle {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
    border: none;
  }
  .shows__topTitle--title {
    font-weight: 600;
    color: #AFAFAF;
    font-size: 1.1rem;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .shows__topTitle--title {
    width: 25%;
  }
}

.footer {
  background-color: #323232;
  color: #FFFFFF;
  padding: 1.5rem;
  line-height: 1.5rem;
  position: relative;
}
@media (min-width: 1280px) {
  .footer__wrapper {
    padding: 0;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
  }
}
.footer__title {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem 0;
}
@media (min-width: 768px) {
  .footer__title {
    margin-right: 2rem;
    font-weight: 600;
    font-size: 2rem;
  }
}
.footer__social {
  padding: 0.5rem 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  min-width: 7.5rem;
  width: 30%;
}
@media (min-width: 768px) {
  .footer__social {
    max-width: 10rem;
  }
}
.footer__social-icon img {
  height: 1.5rem;
  transition: 0.5s;
}
.footer__social-icon img:hover {
  height: 3rem;
}
.footer__container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .footer__container {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .footer__container {
    width: 75%;
  }
}
.footer__container--social {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .footer__container--social {
    flex-direction: row;
    align-items: center;
  }
}
.footer__card {
  font-size: 0.9rem;
}
.footer__card--agent {
  margin: 1rem 0rem;
  font-weight: 600;
}
.footer__card--address {
  margin-bottom: 1rem;
}
.footer__card--email {
  margin-bottom: 1rem;
}
.footer__card--email a {
  text-decoration: none;
  color: #FFFFFF;
}
.footer__logo-img {
  height: 1.25rem;
}
.footer__logo-img--mobile {
  margin-bottom: 0.5rem;
  margin-top: 3rem;
}
@media (min-width: 768px) {
  .footer__logo-img--mobile {
    display: none;
  }
}
.footer__logo-img--tablet {
  display: none;
}
@media (min-width: 768px) {
  .footer__logo-img--tablet {
    display: block;
    margin-left: auto;
    margin-right: 1rem;
  }
}
@media (min-width: 1280px) {
  .footer__logo-img--tablet {
    margin-right: 0;
  }
}
.footer__copyright {
  font-size: 0.8rem;
}
@media (min-width: 768px) {
  .footer__copyright {
    padding-top: 1.5rem;
    font-size: 1rem;
  }
}/*# sourceMappingURL=shows.css.map */