@use './partials/reset' as *;
@use './partials/mixins' as *;
@use './partials/typography' as *;
@use './partials/variables' as *;

body {
    @include body;
}

// navbar css
.navbar {
    @include navbar;
}

// hero css
.hero {
    @include hero;
    justify-content: left;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(248, 242, 242, 0.2), rgba(0, 0, 0, 0.7)), url(../assets/images/hero-shows.jpg);
    flex-wrap: wrap;
    min-height: 325px;
    height: 50vh;
    @include tablet {
        height: 80vh;
    }
    &__title {
        @include tablet {
        font-size: 3rem;
        margin-top: 0;
        width: 60%;
        }
    }
    &__subtitle {
        @extend .hero__title;
        margin-bottom: 1rem;
        font-size: 1.25rem;
        font-weight: 400;
        @include tablet {
            margin-top: 2rem;
            font-weight: 600;;
        }
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        
    }
    &__music {
        width: 90%;
       margin-left: 1rem;
       margin-bottom: 1rem;
       height: 6rem;
       @include tablet {
        width: 50%;
        margin-bottom: 2rem;
       }
       @include desktop{
        width: 30%;
       }
    }
}

.shows {
    display: flex;
    flex-direction: column;
    @include tablet {
        margin: 1rem;
    }
    @include desktop {
        flex-direction: row;
        justify-content: stretch;
    }
    &__title {
        @include section__title;
        margin: 2rem 1rem;
        @include desktop {
            width:30%;
            margin: 0;
        }
    }
   
    &__card{
        padding: 1rem;
        border-bottom: 1px solid $color-light;
        
        @include tablet {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;
            
        }
        
        &--title {
            color: $color-light;
            font-size: 0.9rem;
            padding-bottom: 1rem;
            @include tablet {
                display: none;
                
            }
            
        }
        &--info {
            font-weight: 600;
            color: $color-dark;
            padding-bottom: 1.5rem;
            font-size: 1.1rem;
            @include tablet {
                width: 25%;
            }
            
            
        }
        &--buy{
            background-color: $color-dark;
            color: $color-accent;
            width: 100%;
            font-size: 1.1rem;
            padding: 1rem 0;
            border-radius: 5px;
            @include tablet {
                width: 25%;
            }
        }
        
    }
    &__wrapper{
        display: flex;
        flex-direction: column;
        @include desktop {
            width: 90%;
        }
    }
    &__topTitle {
        @extend .shows__card;
        display: none;
        @include tablet {
            padding: 0;
            margin-left: 1rem;
            display: flex;
            flex-direction: row;
            width: 70%;
            border: none;
        &--title {
            font-weight: 600;
            color: $color-light;
            // padding-bottom: 1.5rem;
            font-size: 1.1rem;
            @include tablet {
                width: 25%;
            }
        }
        }
    }

}

.footer {
    @include footer;  
}


